<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Tool that allows to add new objects and edit or delete existing objects in the RIPE Database" />
    <meta content="summary" name="twitter:card" />
    <meta content="Webupdates" name="twitter:title" />
    <meta content="RIPE Network Coordination Centre" property="og:site_name" />
    <meta content="Webupdates" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="Tool that allows to add new objects and edit or delete existing objects in the RIPE Database" name="twitter:description" />
    <meta content="https://www.ripe.net/manage-ips-and-asns/db/webupdates" name="twitter:url" />
    <meta content="Tool that allows to add new objects and edit or delete existing objects in the RIPE Database" property="og:description" />
    <meta content="https://www.ripe.net/manage-ips-and-asns/db/webupdates" property="og:url" />
    <meta content="https://www.ripe.net/logo.png" name="twitter:image" />
    <meta content="https://www.ripe.net/logo.png" property="og:image" />
    <meta content="image/png" property="og:image:type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webupdates &mdash; RIPE Network Coordination Centre</title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://www-static.ripe.net/static/common/fonts/open-sans.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://www.ripe.net/++resource++ripe.plonetheme.stylesheets/versions/1.63/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://www.ripe.net/++resource++ripe.plonetheme.stylesheets/versions/1.63/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://www.ripe.net/++resource++ripe.plonetheme.stylesheets/versions/1.63/template.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" media="screen" href="https://www.ripe.net/++resource++ripe.plonetheme.stylesheets/versions/1.63/ie-template.css"  />
    <![endif]-->
    <!-- your custom styles here CSSMARKER -->
    <%- include config/templates/_index_app_css %>
    <link href="https://www-static.ripe.net/static/common/font-awesome/css/font-awesome.min.css" media="screen" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="print" href="https://www.ripe.net/print.css" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.ripe.net/favicon.ico" />
    <link rel="apple-touch-icon" href="https://www.ripe.net/touch_icon.png" />
    <link rel="search" href="https://www.ripe.net/search" title="Search this site" />
    <!-- JQuery JavaScript placeholder here -->
    <script type="text/javascript" src="https://www.ripe.net/jquery.js"></script>
    <!-- END JQuery JavaScript placeholder here -->
    <script type="text/javascript" src="https://www.ripe.net/++resource++ripe.plonetheme.javascripts/versions/1.63/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.ripe.net/++resource++ripe.plonetheme.javascripts/versions/1.63/template.js"></script>
    <script type="text/javascript" src="https://www.ripe.net/++resource++ripe.plonetheme.javascripts/versions/1.63/browser-update.js"></script>
    <script type="text/javascript" src="https://www.ripe.net/modernizr.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="https://www.ripe.net/++resource++ripe.plonetheme.javascripts/versions/1.63/html5.js"></script>
    <script type="text/javascript" src="https://www.ripe.net/++resource++ripe.plonetheme.javascripts/versions/1.63/respond.js"></script>
    <![endif]-->
</head>
<body id="visual-portal-wrapper" class="template-external_app_template portaltype-externalapplication site-ripe section-manage-ips-and-asns subsection-db subsection-db-webupdates icons-on thumbs-on frontend viewpermission-view userrole-anonymous" dir="ltr">
<noscript>
    <meta http-equiv="refresh" content="5;URL=https://www.ripe.net/about-us/legal/supported-browsers" />
    <h1 style="text-align: center; margin-top: 20px; background-color: #eee; padding: 20px;">
        Javascript is disabled.<br/>You will be redirected to <a
            href="https://www.ripe.net/about-us/legal/supported-browsers">Supported Browsers</a> page.
    </h1>
</noscript>
<%- include config/templates/_index_app_body_start %>
<app-db-web-ui></app-db-web-ui>
<footer class="container-fluid">
    <a href="#" id="scrollToTop"></a>
    <div class="container box-shadow">
        <div class="col-lg-2">
                <span id="social-icons" title="RIPE NCC - Social Media">
                    <a href="https://www.ripe.net/support/contact/social-networking">
                        <i class="fa fa-sl-f"></i>
                        <i class="fa fa-sl-t"></i>
                        <i class="fa fa-sl-l"></i>
                        <i class="fa fa-sl-y"></i>
                        <i class="fa fa-sl-g"></i>
                    </a>
                </span>
        </div>
        <div class="col-lg-10" id="footer-links">
            <a href="/">Home</a>
            <a href="https://www.ripe.net/sitemap">Sitemap</a>
            <a href="https://www.ripe.net/support/contact">Contact Us</a>
            <a href="https://www.ripe.net/support/service-announcements">Service Announcements</a>
            <a href="https://www.ripe.net/about-us/legal/ripe-ncc-privacy-statement">Privacy Statement</a>
            <a href="https://www.ripe.net/about-us/legal">Legal</a>
            <a href="https://www.ripe.net/about-us/legal/cookies">Cookies</a>
            <a href="https://www.ripe.net/about-us/legal/copyright-statement">Copyright Statement</a>
            <a href="https://www.ripe.net/about-us/legal/terms-of-service">Terms of Service</a>
        </div>
    </div>
    <div id="cookiepopup">
        <div id="cookie-close"><i class="fa fa-close"></i></div>
        <div class="cookie-content">
            <p><span>The RIPE NCC uses cookies. Some of these cookies may have been set already. More information about our cookies can be found in our </span><a
                    title="" href="https://www.ripe.net/about-us/legal/ripe-ncc-privacy-statement#cookies"
                    class="external-link" target="_self">privacy
                policy</a><span>. You can accept our cookies either by </span><span
                    id="cookie-close-span">clicking here</span><span> or by continuing to use the site.</span></p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>" charset="UTF-8"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>" charset="UTF-8"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[2] %>" charset="UTF-8"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[3] %>" charset="UTF-8"></script>
<!--  Webupdates specific body-end end -->
<%- include config/templates/_index_app_body_end %>
</body>
</html>
